#menu{
    height: 60px;
    width: 100%;
    display: flex;
    background-color:#EEEEEE;
    justify-content: space-between;

}
.menu-block{
    height: 100%;
    width: 90px;
    margin:1px;
    position: relative;

}
.menu-new-message{
    height: 20px;
    width: 20px;
    border: 1px crimson solid;
    background-color:#FF3D00;
    border-radius: 50%;
    position: absolute;
    right:25%;
    top: 17%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}



#entry1{
    height: 40px;
    line-height: 40px;
    flex: 1;

    margin-top: 10px;

}
#entry1 input{
    width: 95%;
    height: 30px;
    font-size: 18px;

}
#entry2{
    height: 40px;
    line-height: 40px;
    width: 60px;
    margin-right: 5%;
    margin-top: 10px;
}
#entry2 input{
    width: 70%;
    height: 30px;
    color: #707070;


}

.menu1{
    height:40px ;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/svg/语音.svg");
    margin-left: 5%;
    margin-top: 10px;

}
.menu2{
    height:40px ;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/svg/表情(1).svg");

    margin-top: 10px;

}